/* Theme options */

/* Links Color */
a { color:#1394ca; }

/* Main color */
body > header { 

 }
body > footer,
body > address.copyright {
	background-color: #E52037;
}

/* Button Color */
a[href*="invitation/index/send/"].button,
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
#contactForm .buttons-set button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.my-wishlist-shared .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button,
.button { background-color:#dc003c !important; }

/* Links color */
#nav-container li a { color:#111; }

/* Buttons background color */
.form-subscribe button {
	background-color: #E52037;
	color: #FFFFFF;
	font-weight: bold;
}

.carouselContainer {
	border-radius: 10px;
	border: 3px solid #DDDDDD;
	padding-top: 10px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center !important;
}
.carouselContainer h2 {
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 16px;
	padding-left: 6px;
	text-align: center;
	font-size: 18px;
}
#slider-code .buttons {
	background: url("/../images/buttons.png") no-repeat scroll 0 0 transparent;
	display: block;
	margin-top: 95px;
	margin-right: 10px;
	margin-left: -17;
	margin-bottom: 0;
	background-position: 0 -38px;
	text-indent: -999em;
	float: left;
	width: 39px;
	height: 37px;
	overflow: hidden;
	position: relative;
}
#slider-code {  overflow:hidden; 
text-align: center !important;}
#slider-code .viewport { float: left; width: 200px; height: 255px; overflow: hidden; position: relative; }
#slider-code .next {
	margin-top: 95px;
	margin-right: -20px;
	margin-left: 15px;
	margin-bottom: 0;
	background-position: 0 0px;
  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider-code .overview li{
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-left: 0;
	margin-bottom: 0;
	padding: 1px;
	height: 255px;
	width: 190px;
	text-align: center !important;
}

#slider-code .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider-code .pager li { float: left; }
#slider-code .pagenum { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider-code .active { color: #fff; background-color:  #555555; }

#slider-code .actions { position:absolute; bottom:12px; }


.socialLinks {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-left: 15px;
	background-color: #FFFFFF;
}
.footerLinks {
	background-image: -webkit-linear-gradient(270deg,rgba(87,120,162,1.00) 0%,rgba(67,92,125,1.00) 100%) !important;
	background-image: linear-gradient(180deg,rgba(87,120,162,1.00) 0%,rgba(67,92,125,1.00) 100%) !important;
	padding-top: 17px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;
	-webkit-box-shadow: inset 0px 3px 3px 0px #455E80;
	box-shadow: inset 0px 3px 3px 0px #455E80;
}
.socialTW, .socialFB, .socialYT, .socialBlog {
	margin-bottom: 10px;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	color: #FFFFFF;
	background-color: #4f8dc5;
	border-radius: 6px;
	display: block;
}
.buysafe {
	background-image: url(http://www.dev.bestvacuum.com/skin/frontend/default/zflowmobile/images/buysafe-3in1.jpg);
	height: 65px;
	display: block;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #14305E;
	background-size: auto 65px;
}
.video {
	width: 100%;
	display: block;
	overflow-x: hidden;
}
.std li, .features-list li, .box-collateral li, .sp-methods li, .new-users-list li {
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 6px;
	border-bottom: 1px solid #DEDEDE;
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
	margin-left: 0px !important;
}
.std ul, .features-list ul, .box-collateral ul, .sp-methods ul, .new-users-list ul {
	padding-left: 0px !important;
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
	margin-left: 0px !important;
}
h1 {
	color: #5D5D5D !important;
	font-size: 22px;
	text-transform: uppercase;
}
.content h2 {}
.box-collateral h2, .box-collateral h3, .content h2, .box-head h2 {
	color: #5D5D5D !important;
	font-size: 20px !important;
	padding-bottom: 10px;
	padding-top: 5px;
	_text-transform: uppercase;
}
.box-head h2 {padding-left: 15px;}
.item h3 {
	color: #5D5D5D !important;
	font-size: 12px !important;
	text-transform: none !important;
}
.sp-methods dt {
	color: #4E4E4E;
	font-size: 18px;
	padding-top: 20px;
}
.login-form {padding: 15px !important;}
.footer-box {
	background-color: none;
	width: 48% !important;
	padding-right: 5px;
	padding-bottom: 15px;
	float: left;
	display: block;
	clear: right;
}
.footer-box ul, .footer-box li {
	background-color: none !important;
	margin-left: 0px !important;
	padding left: 0px !important;
}
.footer-box li {
	display: block !important;
	width: 100% !important;
	float: none !important;
	padding: 0px !important;
	font-size: 11px !important;
	line-height: 14px !important;
}
.footer-box h3 {
	padding-left: 15px !important;
	padding-top: 0px !important;
}
._copyright, .copyrightBox {
	color: #fff;
	line-height: 18px;
	padding-top: 26px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
	width: 100%;
	display: block;
	float: left;
	clear: both;
}
.in-stock {
	color: #52B163 !important;
}
.price-box .price { font-weight: bold;}
.box-reviews dl {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #E7E7E7;
}
.box-reviews h3 {
	font-size: 16px !important;
}

.topBar {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #FFFFFF;
	text-align: center;
	background-color: #E52037;
}
.topBar a {
	color: #FFFFFF !important;
	font-weight: bold;	
}
#msemantic {display: none !important;}
.category-image {display: none !important;}
.product-slider-inner {
	text-align: center;
}

.category-products-box {
	width: 46%;
	float: left;
	display: block;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px #BABABA;
	box-shadow: 0px 0px 2px #BABABA;
	height: 150px;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 10px;
	margin-top: 0px;
}
.category-products-box a {
	color: #232323 !important;
	font-size: 12px;
}
.block-content .title {
	color: #FFF !important;
	}
.cart-icon span {
	color: #D61727 !important;
}
.overnight-shipping, .buysafeProduct {
	width: 46%;
	float: left;
	display: block;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px #BABABA;
	box-shadow: 0px 0px 2px #BABABA;
	height: 130px;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-top: 20px;
	font-weight: bold;
	font-size: 16px;
	}
.buysafeList {
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
.box-collateral td {
	border-width: 0px 0px 1px;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	border-bottom-color: #D6D6D6;
}
.box-collateral table {
	border-width: 0px 0px 0px;
}
.best-assured {
	float: left;
	position: absolute;
	z-index: 99;
	padding-top: 7px;
	}
.freeShippingLabel {
	display: block;
	width: 250px;
	font-size: 12px;
	color: #D9676D;
	letter-spacing: 0px;
	font-weight: bold !important;
	margin-left: -3px;
}
.freeShippingLabel .icon {
	font-size: 14px;
	color: #D9676D;
}
.product-name h1 {
	color: #E52037 !important;
}

.content label {
	margin-top: 15px !important;
	display: block;
	}
	
.footer-menu li {
	width: 100% !important;
	display: block !important;
	font-size: 11px;
	margin: 1px !important;
	padding: 1px !important;
	line-height: 10px;
}
.footer-menu li span {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	margin: 1px;
	padding-top: 10px !important;
	margin-top: 10px !important;
	display: block;
}
.footer-menu ul {
}
#main1 h1 {
    font-size:18px;
    line-height:25px;
    text-align:left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	padding: 10px;
}
.product-name h1 {
	padding-left: 0px !important;
	margin-left: 0px !important;

}
.col-2 h3 {
	font-size: 24px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 7px;
}
.c-list h1 {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-bottom: px !important;
	margin: 0px !important;
}
.menu-box li {
	list-style-type: none !important;
}