/*Grid*/
.grid                               { display: block;text-align: left;font-size: 0em;margin: 0% -1.5%;padding: 0%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/*Wrapper*/
.wrapper                            { margin: 0 auto;max-width: 1024px;padding: 0 3%; }
.wrapper:before,.wrapper:after      { content: " ";display: table; }
.wrapper:after                      { clear: both;visibility: hidden; }

/*Rows*/
.row                                { width: 100%;}
.row:before,.row:after              { content: " ";display: table; }
.row:after                          { clear: both; visibility: hidden; }

/*Columns*/
.grid > .column,
.grid > .row > .column              { display: inline-block; text-align: left; font-size: 1rem; width: 6.25%; padding-left: 1.5%; padding-right: 1.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }
.grid > .column                     { float:left;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease; }
.grid > .column:before,
.grid > .column:after               { content: " ";display: table; }
.grid > .column:after               { clear: both;visibility: hidden; }
/*-------*/
.one.column.grid >.column           { width: 100%; }
.two.column.grid >.column           { width: 50% }
.three.column.grid >.column         { width: 33.3333% }
.four.column.grid >.column          { width: 25%; }
.five.column.grid >.column          { width: 20%; }
.six.column.grid >.column           { width: 16.66667%; }
.seven.column.grid >.column         { width: 14.2857%; }
.eight.column.grid >.column         { width: 12.5%; }
.nine.column.grid >.column          { width: 11.1111%; }
.ten.column.grid >.column           { width: 10%; }
.eleven.column.grid >.column        { width: 9.0909%; }
.twelve.column.grid >.column        { width: 8.3333%; }
.thirteen.column.grid >.column      { width: 7.6923%; }
.fourtenn.column.grid >.column      { width: 7.1428%; }
.fithteen.column.grid >.column      { width: 6.6666%; }
.sixteen.column.grid >.column       { width: 6.25%; }

/*Blocks*/
.block                              { position: relative;transition: all .3s ease;}
.block img                          { width:100%;overflow:hidden;-moz-border-radius: 5px; border-radius: 5px;}

#s8-cms p {font-size:13px;}

#s8-cms .cms-title {margin-bottom: 20px; margin-left: 10px;}
#s8-cms .cms-title h1{margin-top: 20px;}
#s8-cms .cms-title p {color: red; font-weight: 600; font-style: italic;}

#s8-cms .main-prod {height: 125px; margin-bottom: 10px;}
#s8-cms .main-prod img { width: 100%;}
#s8-cms .main-prod .column h2 {text-align: center; color: #444; font-size: 14px;}

#s8-cms .steps { margin-bottom: 45px; height: 150px; margin-left: 8px;}
#s8-cms .steps h2 {margin-bottom: 8px; padding: 5px; background-color: #000;color: #fff; width: 50%; }

#s8-cms .floorpack { margin-top: 25px; margin-left: 20px;}
#s8-cms .floorpack .row {margin-bottom: 10px;}
#s8-cms .floorpack .row h2 {font-size: 25px; color: #000; margin-top: 15px;}
#s8-cms .floorpack img {width: 20%; float: left;}
#s8-cms .floorpack .floorpack-desc {float: left; margin-left: 10px; width: 65%;}
#s8-cms .floorpack .floorpack-desc h3 {border-bottom: 1px solid #999; color: red;}
#s8-cms .floorpack .floorpack-desc p { color: #444;}
#s8-cms .floorpack .floorpack-desc h3 span.package-num { font-size: 11px; color: #777; font-style: normal;}

#s8-config, .package-choices, .associated-upsells { color: #333; font-weight: 600; clear: both;}

.product-view

#s8-config { border-bottom: 1px solid #CCCCB2;}
#s8-config .select-simple-prod { font-size: 15px; font-style: italic;}
#s8-config .select-acc { font-size: 12px;}

.s8-product .product-details-price { width: 100%; float: right;}

.s8-product .showcase-thumbnail-container, .s8-product .showcase-thumbnail {display: none;}
#s8-showcase { float: left; display: block;width: 450px; margin: 0 15px 0 0; position: relative;}
.s8-product .product-details-inner {width: 465px;}
.s8-product .product-details-price p { float: right; font-size: 25px;}
.s8-product .package-choices .package-choice {margin: 0 10px 10px 0;}
.s8-product .package-choices img {width: 100%;}
.s8-product .package-choices h3 {font-size: 11px;}
.s8-product .package-selected, .associated-upsell-selected{border:thin solid #008000;} 

.s8-product .showcase-thumbnail-container, .s8-product .showcase-thumbnail {display: none;}
#s8-showcase { float: left; display: block;width: 450px; margin: 0 15px 0 0; position: relative;}
.s8-product .product-details-inner {width: 465px;}
.s8-product .product-details-price p { float: right; font-size: 25px;}
.s8-product .package-choices {clear: both;}
.s8-product .package-choices .associated-upsell {margin: 0 10px 10px 0;}
.s8-product .package-choices img {width: 100%;}
.s8-product .package-choices h3 {font-size: 10px;}
.s8-product .package-choices .price { color: red; font-weight: 600;}


.s8-product .package-choices .three.column.grid .column {height: 200px;}

.s8-product .associated-upsells .three.column.grid .column { padding: 0; margin: 0px; height: 150px;}

.s8-product .associated-upsells .three.column.grid .column .associated-upsell { margin-bottom: 10px;}
.s8-product .associated-upsells .three.column.grid .column .associated-upsell h3 {font-size: 10px;}

.s8-product .associated-upsells  .price { font-size: 12px; font-weight: 600; color: #333;}

.s8-product .button {color:#fff; padding:3px; display:inline-block;}